.mainHeader{
    background-image: url("../public/hero0.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: var(--background-color) ;
}

.navBar{
    padding: 2% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
}

.navBarLinks{
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.navBarLinks li{
    width: 100%;
}

.menuItem{
    transition: 0.5s;
    color: white ;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 300;
    padding: 0 4%;
    background-color: var(--main-color-transparent);
    border-radius: 0 20px 0 20px;
    cursor: pointer;
}

.menuItem:hover{
    transition: 0.8s;
    background-color: var(--accent-yellow);
    font-size: 1.8rem;
    letter-spacing: 2px;
    padding: auto 10%;
    border-radius: 20px 0 20px 0;
}

.mobileNavBar{
    width: 100%;  
    display: none;
    height: 3rem;
}

.content{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.content h1{
    color: var(--accent-yellow);
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    width: 100%;
    text-align: center;
    float:inline-end;
    text-shadow: 0px 0px 5px var(--main-color);
}

.content a{
    transition: 1s;
    cursor: pointer;
    color: var(--main-color);
    font-family: 'Oswald', sans-serif;
    text-shadow: 0px 0px 5px var(--accent-yellow);
    font-weight: 900;
    font-size: 3rem;
    text-decoration: none;
    position: absolute;
    top: 85vh;
}

.content a:hover{
    transition: 1s;
    color: var(--accent-yellow);
    text-shadow: 0px 0px 5px var(--main-color);
}

.bookNow{
    transition: 1s;
    background-color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 400;
    outline: none;
    padding: 2%;
    border: none;
    border-radius: 20px 0 20px 0;
    text-transform: uppercase;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.bookNow:hover{
    transition: 1s;
    background-color: var(--main-color-transparent);
    border-radius: 0 20px 0 20px;
    letter-spacing: 3px;
}


.navLogo{
    height: 4rem;
    cursor: pointer;
}

@media only screen and (max-width: 820px) {

        .mobileNavBar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10%;
        }

        .mobileNavScreen{
            background-color: var(--background-color);
            position: absolute;
            top: 7rem;
            width: 100vw;
            height: 70vh;
            border-radius: 30px;
            border-color: var(--accent-yellow);
            border-style: solid;
            border-width: 1px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .mobileMenuItem{
            color: white;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: var(--accent-yellow);
        }

        .mobileNavBarLinks{
            list-style: none;
            font-size: 2rem;
            text-align: center;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            

        }

        .content h1{
            font-size: 3rem;
        }

        .content a{
            font-size: 2rem;
        }

        .navBar{
            display: none;
            
        }


}